/* Hide the native expand content buttons */
button.thumbnail svg.icon,
.post-title button {
    visibility: hidden;
}

button.les-expand {
    border: none;
    padding: 0;
    width: 23px;
    height: 23px;
    margin: 0;
    background: rgba(var(--bs-body-color-rgb), 0.4) url(../img/sprite-expand.png) no-repeat;
    background-size: 23px 101px;
    border-radius: 3px;
}

button.les-expand:hover {
    background-color: rgba(var(--bs-body-color-rgb), 0.6)
}

@media (prefers-color-scheme: dark) {
    button.les-expand {
        background-color: rgba(var(--bs-body-color-rgb), 0.3);
    }

    button.les-expand:hover {
        background-color: rgba(var(--bs-body-color-rgb), 0.2)
    }
}

button.les-expand.image {
    background-position: 0px -52px;
}

button.les-expand.text {
    background-position: 0px -78px;
}

button.les-expand.expanded {
    background-position: 0px 0px;
    border-radius: 50%;
}

.post-listings .post-listing>.post-metadata-card,
.post-listings .post-listing>article,
.post-listings .post-listing>.offset-sm-3 {
    display: none !important;
}

.les-content {
    margin-top: 8px;
}

.les-content.hidden {
    display: none;
}

.les-content .img-expanded {
    max-height: 600px;
}

.d-flex.text-muted {
    margin-top: 8px;
}